/* stili header */
#back{
    background-image: url(../img/pattern.png);
    height: 150px;
    background-color:rgba(52, 148, 251, 0.949)
}
#logo{
    height: auto;
    width: 150px;
}

h1{
    font-size:45px;
    margin-bottom: 10px;
}
#autore{
    color: rgb(43, 175, 231);
    }
.grey{
    color: grey;
}


/* stili main */
.tim{
    width: 48%;
    height: 400px;
    margin-top: 20spx;
}

p{
    font-size: 20px;
    margin-bottom: 50px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

thead{
    background-color:rgb(43, 175, 231);
    color: white;
    
}
#row{
    background-color: rgb(127, 216, 254);
}

tfoot{
    background-color:rgb(127, 216, 254); ;
}
td{
    width: 40px;
}
.yellow{
    background-color: yellow;
}


/* stili footer */
.container{
    position: relative;
    width: 100%;
}
.text{
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: white;
}